/*#brick {
    width: 40px;
    height: 20px;
    background: #EE6B47;
    position: relative;
    cursor: pointer;
    
  }

  #brick1 {
    margin-top: 5px;
    width: 40px;
    height: 20px;
    background: #EE6B47;
    position: relative;
    cursor: pointer;
  }
  
  #path {
    outline: 1px solid #E8C48E;
    width: 540px;
    height: 20px;
  }
*/
#counter{
    visibility: hidden;
  }

  #knopka{
    visibility: hidden;
    position: fixed;
    padding: 0px;
    right: 50px;
    bottom: 50px;
    width: 100px;
    height: 100px;
    margin: 0px;
  }

  
 /* #button1{
    position: absolute;
    bottom: 20px;
    align-items: center;
    width: 100px;
    height: 100px; 
    margin:0px; 
    border:0px; 
    background:none;
  }*/

  #button,button:active, 
  button:focus {
    outline: none;
    margin-left: -42px;
    margin-top: -42px;
    width: 5%;
    position: fixed;
    cursor: pointer;
  }

  .renesans{
    visibility: visible;
    position: absolute;
    left: 0;
    top:0;
    margin-left: 40%;
    margin-top: 50px;
    height: 800px;
  }

  
  p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
   }
  
  .etext, .etext0, .etext1, .etext2, .etext3,
  .etext4, .etext5, .etext6, .etext7, .etext8,
  .etext9, .etext10, .etext11, .etext12, .etext13, .etext14{
    opacity: 0; 
    
    animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;

  }
  
  #etextbox{
    
    position: absolute;
    text-align: justify;
    cursor: default;
    top:100px;
    height: 300px;
    width: 700px;
    right: 200px;
  }
  

  .egiptinfo{
    position: absolute;
    height: 500px;
    margin-left: 5%;
    margin-top: 1%;

  }

  #rsylwetka{
    width: 40%;
  }

  #renesansfin{
    visibility: hidden;
    width: 40%;
    position: relative;
    cursor: pointer;
    left: 0px;
    transition: left 3s cubic-bezier(0, 0, 1, 1);
  }
/*
  #egiptfin.animate{
    margin-left: -400px;
    margin-top: -50px;
    height: 500px;
    transition-property: margin-left,margin-top, height;
    transition-duration: 9s;
  }
*/
  #rsuknia{
    margin-left: -240px;
    margin-top: -48px;
    width: 40%;
  }

  #rbuty{
    margin-left: -220px;
    margin-top: -100px;
    width: 60%;
  }

  #rkapelusz{
    margin-left: 300px;
    margin-top: 45px;
    width: 40%;
  }

  #rwijało{
    margin-left: 150px;
    margin-top: 250px;
    width: 90%;
  }

  #rtorebka{
    margin-left: 350px;
    margin-top: -70px;
    width: 57.5%;
  }

   #egiptall{
    margin-left: 0px;
    margin-top: 0px;
    height: 100%;
  }


  
  /*
  #esukienka.animate {
    margin-left: 0px;
    margin-top: 0px;
    transition-property: margin-left,margin-top;
    transition-duration: 9s;
    
    
  }

  #esukienka.animate1 {
    margin-left: -240px;
    margin-top: -96px;
    transition-property: margin-left,margin-top;
    transition-duration: 9s;
    
  }

  #ebuty.animate{
    margin-left: 0px;
    margin-top: 0px;
    transition-property: margin-left,margin-top;
    transition-duration: 9s;
  }

  #ebransoletki.animate{
    margin-left: 0px;
    margin-top: 0px;
    transition-property: margin-left,margin-top;
    transition-duration: 9s;
  }

  #eobrucz.animate{
    margin-left: 0px;
    margin-top: 0px;
    transition-property: margin-left,margin-top;
    transition-duration: 9s;
  }

  #epasek.animate{
    margin-left: 0px;
    margin-top: 0px;
    transition-property: margin-left,margin-top;
    transition-duration: 9s;
  }

  #epektoral.animate{
    margin-left: 0px;
    margin-top: 0px;
    transition-property: margin-left,margin-top;
    transition-duration: 9s;
  }*/






















  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }











  